// Define variables for your color scheme

// For example:
$red: #EE5F5B;
$blue: #394351;
$yellow: #ffcc43;
$orange: #E67E22;
$green: #32B796;
$green-sylki: #66b3a3;
$gray: #000000;
$light-gray: #F4F4F4;
$peach: #FFF4E6;
$pink: #FF9789;
$white: #F6F5F1;
