// Specific CSS for your home-page
.container {
  background-color: $green-sylki;
  width: 100%;
  margin: 0px;
  padding: 0px;
  z-index: -5;
  position: absolute;
  top: 0px;
}

.home-banner {
  background: linear-gradient(-225deg, rgba(102,179,163,0.15) 0%, rgba(102,179,163,0.75) 60%), asset-url('VitrineApparition.jpg');
  background-size: cover;
  height: calc(100vh - 50px);
  margin: 0px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  @media (min-width: 300px) and (max-width: 700px) {
    background: linear-gradient(-225deg, rgba(102,179,163,0.15) 0%, rgba(102,179,163,0.75) 60%), asset-url('vitrinemini.jpg');
    background-size: cover;
    height: calc(100vh - 50px);
    margin: 0px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  h1 {
    color: $white;
    animation-duration: 3s;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 60px;
    letter-spacing: 6px;
    padding: 20px;
    margin: 0px;
    text-align: center;
    text-shadow: 1px 1px 20px rgba(33,33,33,0.6),
    -1px -1px 20px rgba(33,33,33,0.6);
    @media (min-width: 300px) and (max-width: 700px) {
      font-size: 38px;
    }
  }

  h2 {
    color: $pink;
    font-family: "Open Sans";
    letter-spacing: 6.8px;
    font-size: 46px;
    animation-duration: 3s;
    margin: 0px;
    text-shadow: 1px 1px 20px rgba(33,33,33,0.6),
    -1px -1px 20px rgba(33,33,33,0.6);
    @media (min-width: 300px) and (max-width: 700px) {
      font-size: 23px;
      letter-spacing: 2.95px;
    }
  }
}

.email-signup{
  padding: 10px 0;
  display: flex;
  justify-content: space-around;
  @media (min-width: 300px) and (max-width: 700px) {
      display: block;
  }
  .signup-input{
    padding : 4px 12px;
    flex: 1 0 60%;
    @media (min-width: 300px) and (max-width: 700px) {
      width: 100%;
      font-size: 16px;
    }
  }
  .css-signup{
    flex: 0 0 5%;
  }
  .signup-btn{
    transition: all 0.3s ease;
    padding : 6px 12px;
    background-color: rgba(255, 255, 255, 0);
    border: 2.5px solid $yellow;
    color: $yellow;
    font-family: "Roboto Condensed";
    letter-spacing: 2px;
    font-size: 20px !important;
    text-transform: uppercase;
    letter-spacing: 2px;
    @media (min-width: 300px) and (max-width: 700px) {
      width: 100%;
      border: 2px solid $yellow;
      margin-top: 10px;
      font-size: 15px !important;
    }
  }
  .signup-btn:hover{
    background-color: $yellow;
    color: rgb(255, 255, 255);
  }
}

.sweetalert-mailadded {
  background-color: $light-green;
  .swal-title {
    font-size: 24px;
    @media (min-width: 300px) and (max-width: 700px) {
      font-size: 18px;
    }
  }
  .swal-text {
    cursor: initial;
    border: none;
    background-color: $light-green;
    color: $blue;
    font-size: 20px;
    @media (min-width: 300px) and (max-width: 700px) {
      font-size: 15px;
    }
  }
}

.sweetalert-mailerror {
  background-color: $light-green;
  .swal-text {
    background-color: $light-green;
    cursor: initial;
    border: none;
    font-size: 20px;
    @media (min-width: 300px) and (max-width: 700px) {
      font-size: 15px;
    }
  }
}
