<div class="footer-container">
  <p class="footer-note">Retrouve-nous sur : </p>
  <div class="footer-social-network">
    <a href="https://www.facebook.com/sylkiparis/" target="_blank"><i class="fab fa-facebook-square"></i></a>
    <a href="https://www.instagram.com/sylkiparis/" target="_blank"><i class="fab fa-instagram"></i></a>
    <p>#sylkiparis #polyfermentation</p>
  </div>
</div>
