<div class="navbar-container">
    <%= image_tag('ululelogo.png', class: 'navbar-ulule') %>
    <a href="https://fr.ulule.com/sylki/" target="_blank" class="ulule-link">
      <p class="navbar-content-to-hide">Nous sommes en cours de financement sur Ulule.</p>
      <p class="navbar-content-ulule">Découvre notre projet ici</p>
    </a>
    <%= image_tag('ululelogo.png', class: 'navbar-ulule') %>
</div>
