<div class="container">

  <div class="home-banner">
    <h1>Atelier de polyfermentation</h1>
    <div class="contact-button">
      <%= render 'contacts/new' %>
      <div class="email-signup">
        <input type="text" id="js-email-field" class="signup-input" placeholder="Mon Email">
        <div class="css-signup"></div>
        <input type="submit" id="js-save-email" class="signup-btn" value="Je reste informé(e)">
      </div>
    </div>
  </div>

</div>
