<div class="container">

  <div class="home-banner">
    <h1>Je commande dès maintenant mes bouteilles</h1>
    <h2>Livraison dans la journée pour toute commande avant 12h</h2>
    <h2>(Paris et communes limitrophes)</h2>
    <a href="https://sylkiparis.typeform.com/to/RFhd0k" target="_blank">
      <div class="contact-button">
        Je choisis mes packs
      </div>
    </a>
  </div>

</div>
