<div class="index-tastings">

  <h1>Liste des tastings</h1>
  <div class="tableau-tastings">
    <% @tastings.each do |tasting| %>
      <div class="row">
        <div class="col-xs-4">
          <%= tasting.date %>
        </div>
        <div class="col-xs-4">
          <%= tasting.capacity %>
        </div>
        <div class="col-xs-4">
          <%= link_to "Modifier", edit_tasting_path(tasting.id) %>
        </div>

      </div>
    <% end %>
  </div>

  <%= render 'tastings/new' %>

</div>



