#contact-popup {
  background-color: rgba(57, 67, 81, 0.95);
  position: absolute;
  bottom: 0px;
  z-index: -10;
  display: none;
  width: 100%;
  padding: 20px;
  h4 {
    color: $white;
  }
  form {
    display: flex;
    flex-direction: column;
  }
  input {
    font-size: 16px;
  }
}

#popup-field1 {
  margin-bottom: 10px;
  width: 200px;
  padding: 5px;
  background-color: $peach;
  color: $blue;
}

#popup-field2 {
  margin-bottom: 10px;
  width: 200px;
  padding: 5px;
  background-color: $peach;
  color: $blue;
}

#popup-field3 {
  margin-bottom: 10px;
  height: 100px;
  padding: 5px;
  background-color: $peach;
  color: $blue;
}

#close-popup {
  @media (min-width: 300px) and (max-width: 700px) {
    width: 250px;
    font-size: 16px;
    background-color: rgba(57, 67, 81, 0);
    color: $white;
    border: 1px solid $white;
    height: 45px;
  }
}

.close-btn {
  color: $white;
  width: 46px;
  height: 46px;
  position: absolute;
  top: 0px;
  right: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}
