.navbar-container {
  background-color: $yellow;
  display: flex;
  padding-top: 4px;
  p {
    color: $green-sylki;
    margin: 0px;
    font-weight: 500;
    @media (min-width: 300px) and (max-width: 700px) {
      font-size: 13px;
    }
  }
  width: 100%;
  justify-content: space-evenly;
  align-items: center;
  height: 50px;

  a{
    text-decoration: none;
  }

}

.navbar-content-to-hide {
  padding-right: 5px;
  @media (min-width: 300px) and (max-width: 700px) {
    display: none;
  }
}

.ulule-link {
  display: flex;
}
