.navbar-container {
  z-index: 10;
  display: flex;
  animation-duration: 3s;
  p {
    color: $white;
    cursor: pointer;
    @media (min-width: 300px) and (max-width: 700px) {
      font-size: 10px;
      letter-spacing: 1px;
    }
  }
  width: 100%;
  justify-content: space-around;
  padding-top: 20px;
  letter-spacing: 3px;
  font-size: 16px;
}
